In [1]:
import sqlite3

import pandas as pd

In [2]:
with sqlite3.connect("../../data/survey.db") as connection:
    df = pd.read_sql(sql="SELECT Site.lat, Site.long FROM Site;", con=connection)

In [3]:
df

     lat    long
0 -49.85 -128.57
1 -47.15 -126.72
2 -48.87 -123.40

In [4]:
def get_name(connection, person_identifier):
    query = f"SELECT personal || ' ' || family FROM Person WHERE id='{person_identifier}';"
    name, = (pd.read_sql(sql=query, con=connection)
               .iloc[0]
               .values)
    return name

In [5]:
with sqlite3.connect("../../data/survey.db") as connection:
    name = get_name(connection, "dyer")

In [6]:
name

'William Dyer'

In [ ]:
def get_name(connection, person_identifier):
    query = f"SELECT personal || ' ' || family FROM Person WHERE id=?;"
    name, = (pd.read_sql(sql=query, con=connection, params=[person_identifier])
               .iloc[0]
               .values)
    return name

In [ ]:
with sqlite3.connect("../../data/survey.db") as connection:
    name = get_name(connection, "dyer")

In [ ]:
name

## Filling a Table vs. Printing Values

In [7]:
import numpy as np

prng = np.random.RandomState(42)
numbers = prng.uniform(low=10.0, high=25.0, size=1000000)
df = pd.DataFrame.from_dict({"reading": numbers})

In [8]:
%%timeit

with sqlite3.connect("../../data/original.db") as connection:
    df.to_sql(name="Pressure",
              con=connection,
              if_exists="replace",
              index=False,
              dtype={"reading": "real"})

1.65 s ± 11.4 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [9]:
%timeit df.to_csv("../../data/original.csv", index=False)

3.15 s ± 26 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

**Takeaway**: Writing to SQL DB is significantly faster than writing to disk!

## Filtering in SQL vs. Filtering in Python

In [10]:
%%timeit

with sqlite3.connect("../../data/original.db") as connection:
    df = pd.read_sql(sql="SELECT * FROM Pressure;", con=connection)

with sqlite3.connect("../../data/backup.db") as connection:
    (df[df["reading"] > 20.0]
       .to_sql(name="Pressure",
               con=connection,
               if_exists="replace",
               index=False,
               dtype={"reading": "real"}))

1.47 s ± 104 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [11]:
%%timeit

with sqlite3.connect("../../data/original.db") as connection:
    df = pd.read_sql(sql="SELECT * FROM Pressure WHERE reading > 20.0;", con=connection)

with sqlite3.connect("../../data/backup.db") as connection:
    df.to_sql(name="Pressure",
              con=connection,
              if_exists="replace",
              index=False,
              dtype={"reading": "real"})

1.01 s ± 77.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

**Takeaway:** Pushing computation into the DB will improve performance!