In [1]:
import sqlite3

import pandas as pd

In [2]:
%load_ext sql

Much of the content in this notebook has been taken from [Jupyter Magics with SQL](https://towardsdatascience.com/jupyter-magics-with-sql-921370099589) blog post.

In [3]:
%sql sqlite:///../../data/survey.db

'Connected: @../../data/survey.db'

In [4]:
sql_results = %sql SELECT Site.lat, Site.long FROM Site;
df = sql_results.DataFrame()

 * sqlite:///../../data/survey.db
Done.

In [5]:
df

     lat    long
0 -49.85 -128.57
1 -47.15 -126.72
2 -48.87 -123.40

In [6]:
%%sql sql_results << 
SELECT Site.lat, Site.long, Visited.dated, Survey.quant, Survey.reading
FROM Site JOIN Visited JOIN Survey
ON Site.name = Visited.site
AND Visited.id = Survey.taken
AND Visited.dated IS NOT NULL;

 * sqlite:///../../data/survey.db
Done.
Returning data to local variable sql_results

In [7]:
df = sql_results.DataFrame()

In [8]:
df

      lat    long       dated quant  reading
0  -49.85 -128.57  1927-02-08   rad     9.82
1  -49.85 -128.57  1927-02-08   sal     0.13
2  -49.85 -128.57  1927-02-10   rad     7.80
3  -49.85 -128.57  1927-02-10   sal     0.09
4  -47.15 -126.72  1930-01-07   rad     8.41
5  -47.15 -126.72  1930-01-07   sal     0.05
6  -47.15 -126.72  1930-01-07  temp   -21.50
7  -47.15 -126.72  1930-01-12   rad     7.22
8  -47.15 -126.72  1930-01-12   sal     0.06
9  -47.15 -126.72  1930-01-12  temp   -26.00
10 -47.15 -126.72  1930-02-26   rad     4.35
11 -47.15 -126.72  1930-02-26   sal     0.10
12 -47.15 -126.72  1930-02-26  temp   -18.50
13 -48.87 -123.40  1932-01-14   rad     1.46
14 -48.87 -123.40  1932-01-14   sal     0.21
15 -48.87 -123.40  1932-01-14   sal    22.50
16 -49.85 -128.57  1932-03-22   rad    11.25